<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>카카오 로그인 예시</title>
</head>

<body>
	<div>
		<input type="submit" value="카카오로그인">
	</div>
	<form action="/user/join" method="post">
		<table>
			<tbody>
				<tr>
					<td>
						<input type="text" name="userId" id="userId" placeholder="아이디">
					</td>
					<td>
						<input type="text" name="userName" id="userName" placeholder="이름">
					</td>
					<td>
						<input type="text" name="profile" id="profile" placeholder="프로필번호">
					</td>
				</tr>
				<button type="submit">가입</button>
			</tbody>
		</table>
	</form>
</body>

</html>